/* You can add global styles to this file, and also import other style files */
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';
@import '~jstree/dist/themes/default/style.min.css';
html, body {
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
